USE [master]
GO
/****** Object:  Database [SmartFulfillmentDB]    Script Date: 4/27/2026 2:15:48 PM ******/
CREATE DATABASE [SmartFulfillmentDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SmartFulfillmentDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SmartFulfillmentDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SmartFulfillmentDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SmartFulfillmentDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SmartFulfillmentDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SmartFulfillmentDB]
GO
/****** Object:  Table [dbo].[Account_Roles]    Script Date: 4/27/2026 2:15:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account_Roles](
	[account_id] [uniqueidentifier] NOT NULL,
	[role_id] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[account_id] ASC,
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 4/27/2026 2:15:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[account_id] [uniqueidentifier] NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password_hash] [varchar](255) NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[status] [varchar](20) NULL,
	[created_at] [datetime] NULL,
	[verification_code] [varchar](10) NULL,
	[is_verified] [bit] NULL,
	[failed_attempts] [int] NULL,
	[otp_requested_time] [datetime] NULL,
	[resend_attempts] [int] NULL,
	[lockout_time] [datetime] NULL,
	[reset_token] [nvarchar](255) NULL,
	[address] [nvarchar](max) NULL,
	[phone] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cart_items]    Script Date: 4/27/2026 2:15:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cart_items](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[quantity] [int] NOT NULL,
	[sku_code] [varchar](255) NULL,
	[username] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chat_messages]    Script Date: 4/27/2026 2:15:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chat_messages](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[content] [nvarchar](max) NULL,
	[room_id] [varchar](255) NULL,
	[sender] [varchar](255) NULL,
	[timestamp] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customers]    Script Date: 4/27/2026 2:15:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customers](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[address] [varchar](255) NULL,
	[email] [varchar](255) NOT NULL,
	[fullname] [varchar](255) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[phone] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inventory]    Script Date: 4/27/2026 2:15:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inventory](
	[inventory_id] [int] IDENTITY(1,1) NOT NULL,
	[sku_code] [varchar](50) NOT NULL,
	[warehouse_id] [int] NOT NULL,
	[quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[inventory_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inventory_level]    Script Date: 4/27/2026 2:15:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inventory_level](
	[inventory_id] [int] IDENTITY(1,1) NOT NULL,
	[available_qty] [int] NOT NULL,
	[last_updated] [datetime2](6) NULL,
	[location_zone] [varchar](50) NOT NULL,
	[physical_qty] [int] NOT NULL,
	[sku_code] [varchar](50) NOT NULL,
	[warehouse_id] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[inventory_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_details]    Script Date: 4/27/2026 2:15:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_details](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[price] [numeric](38, 2) NULL,
	[quantity] [int] NULL,
	[order_id] [varchar](50) NULL,
	[sku_code] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 4/27/2026 2:15:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[order_id] [varchar](50) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[current_status] [varchar](255) NULL,
	[email] [varchar](255) NULL,
	[fullname] [nvarchar](255) NULL,
	[phone] [varchar](15) NULL,
	[shipping_address] [nvarchar](500) NULL,
	[total_amount] [numeric](38, 2) NOT NULL,
	[payment_method] [varchar](255) NULL,
	[shipping_method] [varchar](255) NULL,
	[order_date] [datetime2](6) NULL,
	[status] [varchar](255) NULL,
	[voucher_code] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_favorites]    Script Date: 4/27/2026 2:15:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_favorites](
	[sku_code] [varchar](50) NOT NULL,
	[username] [varchar](20) NOT NULL,
	[created_at] [datetime2](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[sku_code] ASC,
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_SKU]    Script Date: 4/27/2026 2:15:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_SKU](
	[sku_code] [varchar](50) NOT NULL,
	[product_name] [nvarchar](255) NULL,
	[category] [nvarchar](50) NULL,
	[base_price] [decimal](18, 2) NOT NULL,
	[weight_gram] [int] NOT NULL,
	[created_at] [datetime] NULL,
	[image_url] [varchar](max) NULL,
	[active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[sku_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 4/27/2026 2:15:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[review_id] [bigint] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[sku_code] [nvarchar](50) NOT NULL,
	[rating] [int] NOT NULL,
	[comment] [nvarchar](1000) NULL,
	[created_at] [datetime] NULL,
	[email] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[review_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 4/27/2026 2:15:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[role_id] [varchar](20) NOT NULL,
	[role_name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stock_reservation]    Script Date: 4/27/2026 2:15:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stock_reservation](
	[reservation_id] [uniqueidentifier] NOT NULL,
	[created_at] [datetime2](6) NULL,
	[expires_at] [datetime2](6) NOT NULL,
	[order_id] [varchar](255) NOT NULL,
	[reserved_qty] [int] NOT NULL,
	[sku_code] [varchar](255) NOT NULL,
	[status] [varchar](255) NULL,
	[warehouse_id] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[reservation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[voucher]    Script Date: 4/27/2026 2:15:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[voucher](
	[voucher_code] [varchar](255) NOT NULL,
	[active] [bit] NOT NULL,
	[description] [nvarchar](255) NULL,
	[discount_type] [varchar](255) NULL,
	[discount_value] [numeric](38, 2) NULL,
	[end_date] [datetime2](6) NULL,
	[min_order_amount] [numeric](38, 2) NULL,
	[start_date] [datetime2](6) NULL,
	[usage_limit] [int] NULL,
	[used_count] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[voucher_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vouchers]    Script Date: 4/27/2026 2:15:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vouchers](
	[voucher_code] [varchar](50) NOT NULL,
	[discount_type] [varchar](20) NOT NULL,
	[discount_value] [decimal](18, 2) NOT NULL,
	[min_order_value] [decimal](18, 2) NULL,
	[max_discount] [decimal](18, 2) NULL,
	[valid_from] [datetime] NOT NULL,
	[valid_to] [datetime] NOT NULL,
	[usage_limit] [int] NOT NULL,
	[used_count] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[voucher_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[warehouses]    Script Date: 4/27/2026 2:15:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[warehouses](
	[warehouse_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[address] [nvarchar](500) NULL,
	[latitude] [float] NULL,
	[longitude] [float] NULL,
	[city] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[warehouse_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Account_Roles] ([account_id], [role_id]) VALUES (N'1600727b-aea6-438b-b76b-2eb25a7bfb55', N'ADMIN')
INSERT [dbo].[Account_Roles] ([account_id], [role_id]) VALUES (N'39085268-a2c5-441c-bd0a-5c15ea5b9bea', N'USER')
INSERT [dbo].[Account_Roles] ([account_id], [role_id]) VALUES (N'174b8adb-f38b-484f-928c-872bdde1be9b', N'ADMIN')
GO
INSERT [dbo].[Accounts] ([account_id], [username], [password_hash], [full_name], [email], [status], [created_at], [verification_code], [is_verified], [failed_attempts], [otp_requested_time], [resend_attempts], [lockout_time], [reset_token], [address], [phone]) VALUES (N'1600727b-aea6-438b-b76b-2eb25a7bfb55', N'admin', N'$2a$10$didbyFw6kHi81gv5azMRSebt4rrb/ehrQqg.lm0FMRdL/aI1BO0Ne', N'Phong Admin', N'admin@fpt.edu.vn', N'ACTIVE', CAST(N'2026-04-12T00:26:15.590' AS DateTime), NULL, 1, 0, NULL, 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[Accounts] ([account_id], [username], [password_hash], [full_name], [email], [status], [created_at], [verification_code], [is_verified], [failed_attempts], [otp_requested_time], [resend_attempts], [lockout_time], [reset_token], [address], [phone]) VALUES (N'174b8adb-f38b-484f-928c-872bdde1be9b', N'admin_pro', N'$2a$10$8.UnVuG9HHgffUDAlk8qfOuVGkqRzgVymGe07xd00DMxs.7uXCf1a', N'Đại Ca Phong', N'admin_pro@fpt.edu.vn', N'ACTIVE', CAST(N'2026-04-12T00:51:08.830' AS DateTime), NULL, 1, 0, NULL, 0, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[chat_messages] ON 

INSERT [dbo].[chat_messages] ([id], [content], [room_id], [sender], [timestamp]) VALUES (1, N'Chào shop', N'PhongTT', N'PhongTT', N'15:40')
INSERT [dbo].[chat_messages] ([id], [content], [room_id], [sender], [timestamp]) VALUES (2, N'Chào cậu?', N'PhongTT', N'Admin (admin)', N'15:40')
INSERT [dbo].[chat_messages] ([id], [content], [room_id], [sender], [timestamp]) VALUES (3, N'Có bán laptop tư vaand coi!', N'GUEST_6929', N'Khách hàng 6929', N'15:40')
SET IDENTITY_INSERT [dbo].[chat_messages] OFF
GO
SET IDENTITY_INSERT [dbo].[inventory] ON 

INSERT [dbo].[inventory] ([inventory_id], [sku_code], [warehouse_id], [quantity]) VALUES (6, N'WEAR-GA-F7', 1, 1)
INSERT [dbo].[inventory] ([inventory_id], [sku_code], [warehouse_id], [quantity]) VALUES (7, N'GAM-RAZ-V3', 5, 50)
INSERT [dbo].[inventory] ([inventory_id], [sku_code], [warehouse_id], [quantity]) VALUES (8, N'GAM-RAZ-V3', 1, 5)
SET IDENTITY_INSERT [dbo].[inventory] OFF
GO
SET IDENTITY_INSERT [dbo].[order_details] ON 

INSERT [dbo].[order_details] ([id], [price], [quantity], [order_id], [sku_code]) VALUES (30, CAST(18500000.00 AS Numeric(38, 2)), 1, N'ORD-CE5AAE18', N'WEAR-GA-F7')
INSERT [dbo].[order_details] ([id], [price], [quantity], [order_id], [sku_code]) VALUES (31, CAST(3890000.00 AS Numeric(38, 2)), 1, N'ORD-4E3C577D', N'GAM-RAZ-V3')
INSERT [dbo].[order_details] ([id], [price], [quantity], [order_id], [sku_code]) VALUES (32, CAST(1277000.00 AS Numeric(38, 2)), 1, N'ORD-07813163', N'WEAR-GA-F7')
SET IDENTITY_INSERT [dbo].[order_details] OFF
GO
INSERT [dbo].[orders] ([order_id], [created_at], [current_status], [email], [fullname], [phone], [shipping_address], [total_amount], [payment_method], [shipping_method], [order_date], [status], [voucher_code]) VALUES (N'ORD-0606DE43', NULL, NULL, N'tranthephong208@gmail.com', N'Trần Thế Phong', N'0123456789', N'Số 421A, đường Lưu Nhơn Sâm , Phường Đồng Xuân, Quận Hoàn Kiếm, Thành phố Hà Nội', CAST(10490000.00 AS Numeric(38, 2)), N'COD', N'STANDARD', CAST(N'2026-04-26T00:15:29.5841360' AS DateTime2), N'COMPLETED', N'GIAM100K')
INSERT [dbo].[orders] ([order_id], [created_at], [current_status], [email], [fullname], [phone], [shipping_address], [total_amount], [payment_method], [shipping_method], [order_date], [status], [voucher_code]) VALUES (N'ORD-07813163', NULL, NULL, N'tranthephong208@gmail.com', N'Trần Thế Phong', N'0123456789', N'Số 421A, đường Lưu Nhơn Sâm , Phường Đồng Xuân, Quận Hoàn Kiếm, Thành phố Hà Nội', CAST(1077000.00 AS Numeric(38, 2)), N'MOMO', N'EXPRESS', CAST(N'2026-04-25T01:15:05.2172360' AS DateTime2), N'COMPLETED', N'KHAITRUONG')
INSERT [dbo].[orders] ([order_id], [created_at], [current_status], [email], [fullname], [phone], [shipping_address], [total_amount], [payment_method], [shipping_method], [order_date], [status], [voucher_code]) VALUES (N'ORD-29ACFA3C', NULL, NULL, N'tranthephong208@gmail.com', N'Trần Thế Phong', N'0123456789', N'Số 421A, đường Lưu Nhơn Sâm , Phường Đồng Xuân, Quận Hoàn Kiếm, Thành phố Hà Nội', CAST(10490000.00 AS Numeric(38, 2)), N'COD', N'STANDARD', CAST(N'2026-04-26T18:38:21.3479500' AS DateTime2), N'COMPLETED', N'GIAM100K')
GO
INSERT [dbo].[product_favorites] ([sku_code], [username], [created_at]) VALUES (N'IP13-128-STARLIGHT', N'PhongTT', CAST(N'2026-04-27T10:33:25.3505190' AS DateTime2))
GO
INSERT [dbo].[Product_SKU] ([sku_code], [product_name], [category], [base_price], [weight_gram], [created_at], [image_url], [active]) VALUES (N'GAM-RAZ-V3', N'Chuột Gaming Razer DeathAdder V3 Pro', N'GAMING', CAST(3890000.00 AS Decimal(18, 2)), 63, CAST(N'2026-04-23T17:53:26.920' AS DateTime), N'http://res.cloudinary.com/dcd1enaqz/image/upload/v1776941606/y9e8xp05jbi28fgtu8em.jpg', 1)
INSERT [dbo].[Product_SKU] ([sku_code], [product_name], [category], [base_price], [weight_gram], [created_at], [image_url], [active]) VALUES (N'GAM-ROG-G14', N'Laptop Gaming ASUS ROG Zephyrus G14', N'GAMING', CAST(42500000.00 AS Decimal(18, 2)), 1720, CAST(N'2026-04-23T17:49:45.993' AS DateTime), N'http://res.cloudinary.com/dcd1enaqz/image/upload/v1776941385/hrzdsejjkfceouraikb2.png', 1)
INSERT [dbo].[Product_SKU] ([sku_code], [product_name], [category], [base_price], [weight_gram], [created_at], [image_url], [active]) VALUES (N'IP13-128-STARLIGHT', N'iPhone 13 128GB - Trắng Ánh Sao', N'IPHONE', CAST(13490000.00 AS Decimal(18, 2)), 174, CAST(N'2026-04-25T23:31:42.067' AS DateTime), N'http://res.cloudinary.com/dcd1enaqz/image/upload/v1777134701/dlykic2ggepjbpfwa8nb.jpg', 1)
GO
SET IDENTITY_INSERT [dbo].[Reviews] ON 

INSERT [dbo].[Reviews] ([review_id], [username], [sku_code], [rating], [comment], [created_at], [email]) VALUES (7, N'PhongTT', N'ST-SS-T7-2TB', 5, N'Rất tốt! Chất Lượng', CAST(N'2026-04-27T10:39:27.397' AS DateTime), N'tranthephong208@gmail.com')
SET IDENTITY_INSERT [dbo].[Reviews] OFF
GO
INSERT [dbo].[Roles] ([role_id], [role_name], [description]) VALUES (N'ADMIN', N'Quản trị viên hệ thống', NULL)
INSERT [dbo].[Roles] ([role_id], [role_name], [description]) VALUES (N'CUSTOMER', N'Khách hàng', NULL)
INSERT [dbo].[Roles] ([role_id], [role_name], [description]) VALUES (N'MANAGER', N'Quản lý kho hàng', NULL)
GO
INSERT [dbo].[voucher] ([voucher_code], [active], [description], [discount_type], [discount_value], [end_date], [min_order_amount], [start_date], [usage_limit], [used_count]) VALUES (N'GIAM100K', 1, N'Giảm Giá Sập Sàn', N'FIXED', CAST(3000000.00 AS Numeric(38, 2)), CAST(N'2026-05-02T01:46:00.0000000' AS DateTime2), CAST(0.00 AS Numeric(38, 2)), CAST(N'2026-04-25T01:46:00.0000000' AS DateTime2), 100, 7)
INSERT [dbo].[voucher] ([voucher_code], [active], [description], [discount_type], [discount_value], [end_date], [min_order_amount], [start_date], [usage_limit], [used_count]) VALUES (N'KHAITRUONG', 1, N'Giảm Giá Khai Trương Tưng Bừng ', N'FIXED', CAST(200000.00 AS Numeric(38, 2)), CAST(N'2026-05-01T00:37:00.0000000' AS DateTime2), CAST(0.00 AS Numeric(38, 2)), CAST(N'2026-04-22T00:37:00.0000000' AS DateTime2), 3, 3)
GO
INSERT [dbo].[Vouchers] ([voucher_code], [discount_type], [discount_value], [min_order_value], [max_discount], [valid_from], [valid_to], [usage_limit], [used_count]) VALUES (N'GIAM500K', N'FIXED_AMOUNT', CAST(500000.00 AS Decimal(18, 2)), CAST(10000000.00 AS Decimal(18, 2)), NULL, CAST(N'2026-04-10T16:54:28.760' AS DateTime), CAST(N'2026-05-10T16:54:28.760' AS DateTime), 100, 0)
INSERT [dbo].[Vouchers] ([voucher_code], [discount_type], [discount_value], [min_order_value], [max_discount], [valid_from], [valid_to], [usage_limit], [used_count]) VALUES (N'SALE10PT', N'PERCENTAGE', CAST(10.00 AS Decimal(18, 2)), CAST(500000.00 AS Decimal(18, 2)), NULL, CAST(N'2026-04-10T16:54:28.760' AS DateTime), CAST(N'2026-05-10T16:54:28.760' AS DateTime), 100, 0)
GO
SET IDENTITY_INSERT [dbo].[warehouses] ON 

INSERT [dbo].[warehouses] ([warehouse_id], [name], [address], [latitude], [longitude], [city]) VALUES (1, N'Kho Tổng Cần Thơ', N'Đại học FPT Cần Thơ, Ninh Kiều', 10.0125, 105.7331, NULL)
INSERT [dbo].[warehouses] ([warehouse_id], [name], [address], [latitude], [longitude], [city]) VALUES (5, N'位于中国四川省成都市的仓库', N'榆林, 武侯, 成都, 四川, 中国, 610094', 30.56927131548062, 104.06271610937711, NULL)
INSERT [dbo].[warehouses] ([warehouse_id], [name], [address], [latitude], [longitude], [city]) VALUES (6, N'Kho Vĩnh Long', N'2RQP+2WG Đông Thành, Vĩnh Long, Việt Nam', 10.037793563989061, 105.83730896527763, NULL)
SET IDENTITY_INSERT [dbo].[warehouses] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Accounts__AB6E6164F7E00DAC]    Script Date: 4/27/2026 2:15:49 PM ******/
ALTER TABLE [dbo].[Accounts] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Accounts__F3DBC572D2C535EF]    Script Date: 4/27/2026 2:15:49 PM ******/
ALTER TABLE [dbo].[Accounts] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_rfbvkrffamfql7cjmen8v976v]    Script Date: 4/27/2026 2:15:49 PM ******/
ALTER TABLE [dbo].[customers] ADD  CONSTRAINT [UK_rfbvkrffamfql7cjmen8v976v] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT (newid()) FOR [account_id]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT ((0)) FOR [is_verified]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT ((0)) FOR [failed_attempts]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT ((0)) FOR [resend_attempts]
GO
ALTER TABLE [dbo].[inventory] ADD  DEFAULT ((0)) FOR [quantity]
GO
ALTER TABLE [dbo].[Product_SKU] ADD  DEFAULT ((0)) FOR [weight_gram]
GO
ALTER TABLE [dbo].[Product_SKU] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Product_SKU] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Vouchers] ADD  DEFAULT ((0)) FOR [min_order_value]
GO
ALTER TABLE [dbo].[Vouchers] ADD  DEFAULT ((100)) FOR [usage_limit]
GO
ALTER TABLE [dbo].[Vouchers] ADD  DEFAULT ((0)) FOR [used_count]
GO
ALTER TABLE [dbo].[Account_Roles]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[Accounts] ([account_id])
GO
ALTER TABLE [dbo].[Account_Roles]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[Roles] ([role_id])
GO
ALTER TABLE [dbo].[Account_Roles]  WITH CHECK ADD  CONSTRAINT [FK61h48dsir3h82pxbq3cwgp0ce] FOREIGN KEY([account_id])
REFERENCES [dbo].[Accounts] ([account_id])
GO
ALTER TABLE [dbo].[Account_Roles] CHECK CONSTRAINT [FK61h48dsir3h82pxbq3cwgp0ce]
GO
ALTER TABLE [dbo].[Account_Roles]  WITH CHECK ADD  CONSTRAINT [FK6r8nxkn3hctohyllteivfr5hy] FOREIGN KEY([role_id])
REFERENCES [dbo].[Roles] ([role_id])
GO
ALTER TABLE [dbo].[Account_Roles] CHECK CONSTRAINT [FK6r8nxkn3hctohyllteivfr5hy]
GO
ALTER TABLE [dbo].[inventory]  WITH CHECK ADD  CONSTRAINT [FK_Inventory_Product] FOREIGN KEY([sku_code])
REFERENCES [dbo].[Product_SKU] ([sku_code])
GO
ALTER TABLE [dbo].[inventory] CHECK CONSTRAINT [FK_Inventory_Product]
GO
ALTER TABLE [dbo].[inventory]  WITH CHECK ADD  CONSTRAINT [FK_Inventory_Warehouse] FOREIGN KEY([warehouse_id])
REFERENCES [dbo].[warehouses] ([warehouse_id])
GO
ALTER TABLE [dbo].[inventory] CHECK CONSTRAINT [FK_Inventory_Warehouse]
GO
ALTER TABLE [dbo].[order_details]  WITH CHECK ADD  CONSTRAINT [FKi73xapk41quo345lw8hb3y3ep] FOREIGN KEY([sku_code])
REFERENCES [dbo].[Product_SKU] ([sku_code])
GO
ALTER TABLE [dbo].[order_details] CHECK CONSTRAINT [FKi73xapk41quo345lw8hb3y3ep]
GO
ALTER TABLE [dbo].[order_details]  WITH CHECK ADD  CONSTRAINT [FKjyu2qbqt8gnvno9oe9j2s2ldk] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([order_id])
GO
ALTER TABLE [dbo].[order_details] CHECK CONSTRAINT [FKjyu2qbqt8gnvno9oe9j2s2ldk]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK5fdrdcr6wha7ht3qb2x3t8i9j] FOREIGN KEY([voucher_code])
REFERENCES [dbo].[voucher] ([voucher_code])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK5fdrdcr6wha7ht3qb2x3t8i9j]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
USE [master]
GO
